<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <title>GameHub</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--  si le type de jeu est différent d'"undefined" 
          et si le cssFile de l'objet lauchedGame n'est pas null
    -->
    <% if (typeof launchedGame !== "undefined" && launchedGame.cssFile !== null) { %>
      <!-- alors on renvoi le lien du css en fonction du nom du jeu-->
      <%- `<link rel="stylesheet" href="/css/${launchedGame.cssFile}">` %>
    <% } %>
  </head>

  <body>
    <header>
      <h1>GameHub</h1>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <!-- pour chaque jeu de l'objet games.json
              on intègre le nom du jeu au lien
              puis pour chaque url, on indique ce nom entre les balises-->
          <% for (game of games) { %>
            <%- `<li><a href="/game/${game.name}">${game.title}</a></li>` %><%
          } %>
        </ul>
      </nav>
    </header>