<!-- inclus le fichier header.ejs du dossier partials -->
<%- include('./partials/header') %>

    <h3>Invader</h3>
    <form class="configuration"></form>
    <div id="invader"></div>
    <script src="/js/invader.js"></script>
  </body>
</html>
